body {
    background-color: lightblue;
    text-align: center;
}

.wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

img {
    
}

.circle {
    width: 100px;
    padding: 50px 0;
    border-radius: 50px;
    background: pink;
    margin: 60px auto;
    color: white;
    cursor: pointer;
    line-height: 0;
    transition: background 1s, transform 1s 1s ease-in-out;
}

.circle:hover {
    background: salmon;
    transform: rotate(360deg);
}
